.messages__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.messages__subcontainer {
  min-width: 400px;
  background-color: rgb(236, 236, 236);
  padding: 30px;
  border-radius: 10px;
}

.messages__container_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.messages__container_title {
  font-style: italic;
}

.messages__container_messages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.messages__form {
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 550px;
}

.messages__form input {
  line-height: 30px;
  padding: 5px;
  margin-right: 20px;
  border: solid 1px rgb(149, 149, 149);
}

.messages__me {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
